*{
	margin: 0;
	padding: 0;
}

body{
	overflow: hidden;
}

@font-face {
	font-family:'headfont';
	src: url('fontscaoshu.ttf');
}

.headline{
	font-family: headfont;
	font-size: 55px;
	margin-top: 50px;
}

.headline_2{
	font-family: headfont;
	font-size: 50px;
	margin-left: 500px;
}

.rectangle{
	background-image: url(../img/index.jpg);
	background-repeat: no-repeat;
	background-size: cover;	
}
/*.nav_1{
	position: absolute;
	margin-top: 135px;
	margin-left: 175px;
}

.nav_2{
	position: absolute;
	margin-top: 135px;
	margin-left: 405px;

.nav_3{
	position: relative;
	margin-top: 135px;
	margin-left: 575px;
}*/
.nav_1{
	position: relative;
	margin-top: 100px;/*调整字体高度*/
	background-color: rgba(255,255,255,0);
	margin:auto;
}

.nav{
	width: 800px;
	height:400px;
	background-color: rgba(255,255,255,0);
	margin: 0 auto;
	display: flex;
}


.item {
  position: relative;
  display: block;
  flex: 1 1 0px;
  transition: transform 500ms;
}

.rectangle .item:focus,
.rectangle .item:hover {
  transform: scale(1.3); /*修改放大程度*/
  z-index: 1;
}

.rectangle img {
  display: block;
  max-width: 100%;
}
