*{
	margin: 0;
	padding: 0;
}

.thumbnail{
	display: inline-block;
}

.btn,
.btn:focus,
.btn:hover,
.btn:active:focus,
.btn.active:focus{
    outline: none;
	box-shadow: none;
	border: none;
	box-shadow: none;
	background-color:rgba(0,0,0,0);
}

.carousel-inner img{ 
      width: 1024px;
	  height: 100px;
}



.item{ 
	width: 1024px;
	height: 400px;
}